:root {
    --primary-100:#FF6347;
    --primary-200:#dc442e;
    --primary-300:#8d0000;
    --accent-100:#32CD32;
    --accent-200:#006a00;
    --text-100:#333333;
    --text-200:#5c5c5c;
    --bg-100:#F5F5F5;
    --bg-200:#ebebeb;
    --bg-300:#c2c2c2;
}